body{
  background-color: #97d6e7;
  color: antiquewhite;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.grid{

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;

}
ul{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
}
li:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.pokemonLoading {
  display: flex;
  position: absolute;
  top: 50%;
  left: 45%;
  right: 45%;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
  border-radius: 50%;
  border: 8px solid black;
   animation: spin 1s linear infinite; 
}

.pokemonLoading::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100px;
  background: black;
  top: 50px;
  transform: translatey(-50%);
}

.pokemonLoading::after {
  content: '';
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;

}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Pokeball draw code */

/* .waitPokeFight {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid (50px/25) black;
  position: relative;    
  background: linear-gradient(to bottom, #EEEEEE 0%,#FFFFFF 100%);;
  margin: 10px auto;
  
  &:before,
  &:after{
    content: "";
    display: block;
  }
  
  &,
  &:before,
  &:after{
    transition: all 600ms cubic-bezier(.67,.4,.36,.75);
  }
  
  &:before {
    width: 50px;
    height: (50px/2) -(50px/25/2);
    border-bottom: solid (50px/25) black;
    border-radius: (50px/2) (50px/2) 0 0;
    background: linear-gradient(to bottom, #d10000 0%,#ff0000 50%);
  }
  
  &:after {
    content: "";
    width: 50px/5;
    height: 50px/5;
    background: linear-gradient(to bottom, #fff 0%,#ccc 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: 0 0 0 (50px/50) black,
                0 0 0 (50px/25) #ddd,
                0 0 0 (50px/14) black,
                0 0 (50px/10) (50px/17) rgba(0,0,0,0.4);
              }
            } */
            .u-flash {
              animation: flash 3000ms infinite;
            }
            
            .ring{
            
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;
                align-items: center;
                gap: 10px;
              
            }
            
.waitPokeFight {
  display: flex;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  animation: ghost 2s linear infinite;
}

.waitPokeFight::after {
  content: '';
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: white;
  top: 27px;
  left: 28px;
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
  animation: ghost 2s linear infinite;
}

@keyframes ghost {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  45% {
    opacity: 0.2;
  }
  80% {
    opacity: 1;
  }
}
.fighter1 , .fighter2{
  display: grid;
}
.fighter1 button , .fighter2 button{
  margin-top: 25px;
}